/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #171427 ;
    --text-color: #088178;
    --bg-color: #fff;
}

body {
    width: 100%;
}

/* Navigator */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: 0 5px rgba(0, 0, 0, 0.06);
}

#header a {
    text-decoration: none;
}

#header .logo {
    color: var(--text-color);
    padding: 0 20px;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--text-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--text-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar button {
    position: relative;
    font-size: 16px;
    font-size: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#navbar #login {
    background-color: var(--text-color);
    /* color: black; */
}

/* Isii BMI */
#hero {
    background: var(--text-color);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.container{
    margin-top: 30px;
    margin-left: 32%;
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container .form{
    padding: 30px;
}

.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

/* Form Login */
.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: var(--text-color);
    border-radius: 25px;
}

.form .input-field{
    /* background-color: red; */
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: var(--text-color); 
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: var(--text-color); 
}

.input-field i.icon{
    left: 0;
}

.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

/* Checkbox */
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: var(--text-color);
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: var(--text-color);
    text-decoration: none;
}

.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background: var(--main-color);
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}




