* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
    /* letter-spacing: 2px; */
}

body {
    width: 100%;
}

/* header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: 0 5px rgba(0, 0, 0, 0.06);
}

#header a {
    text-decoration: none;
}

#header .logo {
    color: #088178;
    padding: 0 20px;
    position: relative;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#navbar button {
    position: relative;
    font-size: 16px;
    font-size: 600;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

#navbar #login {
    background-color: white;
    /* color: black; */
}

#navbar #register {
    background-color: #088178;
}

/* cover */

#hero {
    background-image: url("/assets/bg-index.jpg");
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h1 {
    color: #088178;
    font-size: 50px;
}

#hero p {
    width: 50%;
    border-color: #088178;
    color: aliceblue;
}

#hero button {
    letter-spacing: 2px;
    font-weight: 530;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 10px;
    /* width: 100px;
    margin: 0 5px; */
    margin-top: 10px;
    color: white;
    background-color: #088178;
}


/* about us */
#page-header {
    background-image: url(/assets/the-lore-rRBtKW_aw_U-unsplash.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2,
#page-header p {
    color: #088178;
    /* font-size: 30px; */
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 80%;
    height: auto;
    padding-left: 40px;
}

#about-head div {
    font-size: 20px;
    padding-left: 40px;
    padding-right: 80px;
}


/* profile */

#profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: 0 5px rgba(0, 0, 0, 0.06);
}